@charset "UTF-8";
/* CSS Document */

/*
FONT
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;

Color
Normal - #666
Black - #212121
Blue - #313e60
Pink - #c24070
Light - #eee9e3

Border
gray - #d1d1d1
form border - #b3b3b3
*/

.notify.notify-with-icon .notify-body .notify-body-text {
    padding-left: unset !important;
}
.notify .notify-body .notify-body-title {
    display: none !important;
    font-weight: 700;
}
.notify {
    background: #fdfdce !important;
    position: relative;
    right: -360px;
    top: 15px;
    margin-bottom: 20px;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    opacity: 0;
    z-index: 99999999;
    border: 1px solid;
}
.bottom-feed {
    margin-top: 60px;
}
ul.bottom-feel-ul {
    list-style-type: none;
}
span#feedTextEmail {
   left: 32px !important;
    top: 140px !important;
}
.bottom-feed-emo {
    color: #4d4d4d !important;
    font-size: 26px;
    position: relative;
    left: 51px;
    top: 1px;
    margin-right: 70px;
}
.bottomn-feed-span {
    color: #000 !important;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Roboto',sans-serif;
}
li.bottom-feed-li {
    text-align: left;
    transition: all 0.4s ease-in;
    margin-right: -20px;
    padding: 10px;
    margin-left: -20px;
    cursor: pointer;
    margin-bottom: 0px;
}
li.bottom-feed-li:nth-child(1):hover {
    background-color: #91ce94;
}
li.bottom-feed-li:nth-child(2):hover {
    background-color: #ea867f;
}
li.bottom-feed-li:nth-child(3):hover {
    background-color: #efb662;
}

#feedTextInput {
    display: none;
    top: 80px !important;
    left: 30px !important;
    text-align: left !important;
    position: relative !important;
}
#feedTextEmail {
    display: none;
    top: 80px !important;
    left: 30px !important;
    text-align: left !important;
    position: relative !important;
}
.bottom-feed .form-div form {
    position: relative;
    left: 30px;
}
.bottom-feed .form-div {
    height: 129px;
    top: 50px;
    position: relative;
}
.addedInput {
    position: absolute;
    width: 100%;
    top: 45px;
    margin-bottom: 8px;
    border-bottom: 1px solid #d6d6d6;
}
.addedInput span {
    left: 50px !important;;
}
.addedInput:hover i {
    color: #727272 !important;
}
.addedInput .down-icon {
    color: #727272;
    display: block;
    font-size: 12px;
    float: right;
    position: relative;
    top: 6px;
    left: -15px;
}
#textInput {
    display: none;
    transition: all 0.3s ease-in;
    width: 86%;
    position: relative;
    top: 80px;
    border: none;
    border-bottom: 2px solid #c21717;
}
#textInput:focus {
    outline: none;
}
#textInput::placeholder {
    font-family: 'Roboto',sans-serif;
}
#textEmail::placeholder {
    font-family: 'Roboto',sans-serif;
}
#textEmail:focus {
    outline: none;
}
#textEmail {
    display: none;
    transition: all 0.3s ease-in;
    width: 86%;
    position: relative;
    top: 74px;
    border: none;
    border-bottom: 2px solid #c21717;
}
li.bottom-feed-input-li {
    text-align: left;
    transition: all 0.4s ease-in;
    margin-right: -20px;
    padding: 15px;
    margin-left: -20px;
    display: none;
    cursor: pointer;
    margin-bottom: 0px;
}
li.bottom-feed-input-li:hover {
    background-color: #f39999;
   
}
.down-icon { 
    display: none;
}
.selected-feed-li:hover i.down-icon {
    color: #727272 !important;
}
.selected-feed-li .down-icon {
    color: #727272;
    display: block;
    font-size: 12px;
    float: right;
    position: relative;
    top: 12px;
    left: -20px;
}
li.bottom-feed-li:hover i {
    color: #e3d30c !important;
}

span.bottomn-feed-span.idea-span {
    position: relative;
    left: 9px;
}
.feedback-div {
    display: inline-flex;
    position: fixed;
    width: 108px;
    padding: 7px;
	z-index: 999;
    right: -38px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    top: 240px;
    transform: rotate(
-90deg
);
    text-align: center;
    background: #c21717;
    font: normal normal 600 16px 'Open Sans', sans-serif
}
.abs-feed-back {
    display: none;
    position: fixed;
    z-index: 2147480000;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}
.abs-feed-div {
    opacity: 1;
    pointer-events: all;
    z-index: 2157480000;
    top: 50%;
    left: 50%;
    transform: translate(-190px, -234px);
    transition: all .3s ease-out;
    width: 380px;
    height: 430px;
    position: fixed;
    box-shadow: 0 0 24px rgb(0 0 0 / 24%);
    border-radius: 8px 8px 8px 8px;
    animation: anim-feed 0.5s ease-in;
}
.top-div-inn-cont {
    height: 100%;
}
.top-feed-emo {
    font-size: 60px;
}
@keyframes anim-feed {
    0% {
        opacity: 0;
        transform: translate(-190px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate(-190px, -234px);
    }
}
.top-div-inn-cont {
    height: 100%;
    padding: 15px;
}
.bottom-div {
    background: #fff;
    height: 297px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
}
.top-div {
    background: #c21717;
    transition: all 0.3s ease-in;
    height: 170px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.selected-feed-li{
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #d6d6d6;
}
.fixed-bottom-feedback {
    border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
    border-top: 1px solid #d6d6d6;
    transition: opacity .3s ease-out .084s,transform .3s ease-out .084s;
    z-index: 1;
    overflow: hidden;
    background-color: #fff;
    height: 55px;
    padding-top: 3px;
    position: fixed;
    right: 0;
    display: none;
    width: 100%;
    text-align: right;
    transition-delay: .15s;
}
.submit-feed {
    position: relative;
    top: 10px;
}
button.cancel-feed {
    color: gray;
    background-color: #fff;
    margin-right: 1.5em;
    border: none;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
}
button.next-feed {
    color: #c21717;
    border: none;
    width: 80px;
    padding: 5px;
    font-weight: 500;
    margin-right: 0.5rem;
    font-size: 14px;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    background-color: #E9EDF1;
}
button.next-feed:focus {
    outline: none;
}
button.cancel-feed:focus {
    outline: none;
}
.next-feed:hover {
    background: #fff;
}
.bottom-div-inn-cont {
	font-family: 'Roboto',sans-serif;
    padding: 20px;
    height: 280px;
	font-size: 14px;
}
span.feed-text {
    top: 40px;
    position: relative;
}
i.fa.fa-smile-o.smile-emo {
    font-size: 19px;
    margin-right: 4px;
}
.feedback-help {
    position: relative;
    font-size: 20px;
    top: 28px;
    font-family: 'Roboto',sans-serif;
    color: #fff;
}
.need-help {
    font-size: 15px;
}
.need-a {
    color: #fff !important;
    text-decoration: underline;
}

.module img{opacity: 0; transition:all 0.5s ease-in-out 0.5s; -webkit-transition:all 0.5s ease-in-out 0.5s;}
.module.come-in img{opacity: 1}

.btn-border{border-color: #666; font-size: 13px; color: #666}

.pink-text{color: #c24070 !important;}

.contentBlock{margin: 0; padding: 0 0 0 0}
.footer{margin: 0}

#main{padding-top: 0}
.header{position: static; top: 0; left: 0; right: 0; z-index: 100;}
.header .top-header{background: #eee9e3; padding: 10px 0; position: relative;}
.top-header-content{display: table; width: 100%;}
.top-header-content > div{display: table-cell; width: 33.333333333%; vertical-align: middle}
.top-header-content > div.middle-header{width: 270px}
.top-header-content .left-header{display: none;}
.top-header-content > div.middle-header{text-align: left;}
.top-header-content nav > ul{list-style: none; padding: 0; margin: 0}
.top-header-content nav > ul > li{display: inline-block; padding-right: 40px}
.top-header-content nav > ul > li:last-child{padding-right: 0}
.top-header-content nav > ul > li > a{color: #212121; font-family: 'Roboto', sans-serif; text-transform: uppercase}

.top-header-content .logo{padding-left: 0px; display: block; width: 100%;
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
}
.top-header-content .logo:after{clear: both; content: ""; display: block; height: 0; clear: both}
.top-header-content .logo img{float: left; margin-left: -40px;}
.top-header-content .logo aside{float: left; width: 50%; padding-top: 23px}
.top-header-content .logo span{font-size: 18px; color: #313e60; font-weight: 300; letter-spacing: 4.4px; text-transform: uppercase}
.top-header-content .logo strong{display: block; font-weight: 600; text-transform: uppercase; font-size: 28px; color: #313e60; line-height: 21px}
.top-header-content .logo em{font-style: normal}

.navigation{background: #313e60;}
.navigation .container > ul{list-style: none; display: table; width: 100%; margin: 0; padding: 0}
.navigation .container > ul > li{display: table-cell; position: relative; padding: 0 0.5px;}
.navigation .container > ul > li > a{display: block; padding:14px 10px; text-transform: uppercase; text-align: center; font-size: 14px; color: #fff; font-family: 'Roboto', sans-serif; position: relative; z-index: 1001}
.navigation .container > ul > li:hover > a, .navigation ul > li.active > a{background-color: #c24070; text-decoration: none}
.navigation .container > ul > li:hover > a{background-color: #fff; color: #313e60}
.navigation .container > ul > li:hover .dropdown-menu{display: block; margin: 0; border-top: none; border-radius: 0 0 3px 3px;}
.navigation .container > ul > li li{position: relative;}
.navigation .container > ul > li:hover .dropdown-menu .dropdown-menu{display: none;}
.navigation .container > ul > li:hover .dropdown-menu li:hover .dropdown-menu{display: block; left: 100%; top: 0; border-top: 1px solid #CCC;}
.navigation .container > ul > li:hover .dropdown-menu.pull-right li:hover .dropdown-menu{left: auto; right: 100%;}
.navigation .container .dropdown-menu{box-shadow: 0 }
.navigation .container .dropdown-menu a{color: #666; padding-top: 8px; padding-bottom: 8px}
.navigation .container .dropdown-menu li:hover > a{background: #313e60; color: #fff}
.navigation .container .dropdown-menu .active a{background: #313e60; color: #fff}

.navigation .submenu > a:after{display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0da";
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -6px;
}
/*height: calc(100vh - 189px);*/
.banner{height: calc(100vh - 0px); background-color: #fff}
.banner .image{height: 100%; width: 100%; background-repeat: no-repeat; background-size: cover; background-position: top; position: relative;}
.banner .image:after{content: ""; display: block; background: #000; opacity: 0.3; position: absolute; top: 0; left: 0; bottom: 0; right: 0}
.banner div{height: 100%}
.banner .texts, .banner .text div{height: auto}
.banner .texts{max-width: 557px; width: 100%; text-align: center; position: absolute; top: 50%; color: #fff; left: 50%; opacity: 0;
	-webkit-transform: translate(-50%, -30%);
	-ms-transform: translate(-50%, -30%);
	transform: translate(-50%, -30%);

}
.banner .texts, .banner .texts{
	transition:all 0.7s ease-in-out 1s;
	-webkit-transition:all 0.7s ease-in-out 1s;
	-ms-transition:all 0.7s ease-in-out 1s;
}
.banner .texts .boldText{font-size: 24px; font-family: Georgia; text-transform: uppercase; line-height: 30px; padding-bottom: 30px}
.banner .texts .boldText strong{font-size: 36px}
.banner .texts .boldText p:first-child{padding-right: 50px; position: relative;}
.banner .texts .boldText p:last-child{padding-left: 50px; position: relative;}
.banner .texts .text{font-size: 13px; line-height: 20px; font-weight: 200; opacity: 0.7; position: relative; padding-top: 0 !important}
.banner .texts .text:before{position: absolute; width: 100px; height: 2px; background: #fff; content: ""; display: block; left: 50%; top: -20px; margin-left: -50px}

.banner .slick-slider{padding-left: 0; padding-right: 0;}
.slick-slider{padding-left: 80px; padding-right: 80px;}

.slider-content{position: relative;}
.banner .slick-arrow{}

.slick-arrow{position: absolute; z-index:99; top: 0; left:0; bottom:0; width: 15%; cursor:pointer; opacity:0;
	transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
}
.slick-arrow.slick-next{right:0; left: auto;}
/*border: 2px solid #FFF;*/
.slick-arrow span{display: block; position: absolute; top:30%; left:23px; margin:-27px 0 0 0; width: 54px; border-radius: 50%; height: 54px; text-align: center; line-height:59px;  font-size: 14px; color: #FFF;}
.slick-arrow span i{font-size:30px}
.slick-arrow.slick-next span{left: auto; right: 23px;}

.slick-arrow.gray{opacity: 1;}
.slick-arrow.slick-next.gray{right: -30px;}
.slick-arrow.slick-prev.gray{left: -30px;}
.slick-arrow.gray span{border-color: #e8e8e8; opacity: 1; border:none}
.slick-arrow.gray span:hover{background: #e8e8e8;}
.slick-arrow.gray span i{color: #b0b0b0}

.banner .slick-active .texts{opacity: 1;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translate(-50%, -50%);
}
.banner:hover .slick-arrow{opacity: 0.35}
.banner:hover .slick-arrow:hover{opacity: 1}

.slick-dots{position: absolute; left:0; bottom:10px; right:0; z-index:99; text-align: center; margin:0; padding: 0}
.slick-dots li{display: inline-block; margin: 0 3px;}
.slick-dots li button{width: 8px; height:8px; padding: 0; overflow:hidden; background: #FFF; opacity:0.4; text-indent: -999px; border:none;
	transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	border-radius: 50%;
}
.slick-dots li.slick-active button{opacity:1;}

.block-slider .slick-dots{bottom: -50px; margin: 0;}
.block-slider .slick-dots li button{background: #b0b0b0}

.slick-track{margin: 0 auto;}

.icon-blocks{padding-top: 80px; padding-bottom: 80px}
.icon-blocks figure{width: 112px; height: 112px; margin: 0 auto; position: relative; border: 1px solid #d4cec7; margin-bottom: 25px; border-radius: 50%}
.icon-blocks figure img, .middle{position: absolute; top: 50%; left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.icon-blocks .block{max-width: 293px; margin: 0 auto; font-family: 'Roboto', sans-serif;}
.icon-blocks .block h4{font-size: 14px; font-weight: 500; margin: 0 0 -5px 0; padding: 0}
.icon-blocks .block p{margin-bottom: 0; margin-top: 15px}
.icon-blocks .block p .btn{font-size: 11px}
.icon-blocks .block p.text{height: 54px; overflow: hidden;}

.blueBlock{background: #313e60; padding-top: 80px; padding-bottom: 80px; color: #FFF; text-align: center}
.blueBlock article{max-width: 700px; margin: 0 auto}
.blueBlock article h3{color: #FFF; font-family: 'Roboto', sans-serif; font-size: 22px; font-weight: 500; text-transform: uppercase; padding-bottom: 5px}
.blueBlock article p{color: #fff; opacity: 0.7; margin: 0}

.article{padding-top: 80px; padding-bottom: 80px; text-align: center; border-bottom: 1px solid #d1d1d1}
.article .heading{max-width: 550px; margin: 0 auto; position: relative; margin-bottom: 80px}
.article .heading:before{position: absolute; width: 100px; height: 1px; background: #666; content: ""; display: block; left: 50%; bottom: -35px; margin-left: -50px}
.article .heading h4{font-family: 'Roboto', sans-serif; font-size: 24px; text-transform: uppercase; font-weight: 400;}


.partners{}
.partners a.partner{display: block; width: auto; margin: 0 10px; height: 80px; border: none; border-radius: 3px; position: relative}
.partners a.partners img{max-width: 80%; max-height: 80%}
.partners .slick-dots{bottom: -50px; margin: 0;}
.partners .slick-dots li button{background: #b0b0b0}

.useful-links{}
.useful-links a.useful-link{display: block; color: #666; margin: 0 10px; line-height: 14px; height: 126px; border: 1px solid #d4cec7; border-radius: 3px; position: relative; padding: 10px;}
.useful-links a.useful-link:hover{text-decoration: none; color: #c24070}
.useful-links a.useful-link figure{position: relative; height: 58px; margin-bottom: 20px;}
.useful-links a.useful-link figure img{bottom: 0; top: auto; max-width: 100%; max-height: 100%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.useful-links a.useful-link figure:before{position: absolute; width: 30px; height: 1px; background: #666; content: ""; display: block; left: 50%; bottom: -10px; margin-left: -15px}
.useful-links .slick-dots{bottom: -50px; margin: 0;}
.useful-links .slick-dots li button{background: #b0b0b0}

.events{}
.events a.event{display: block; color: #666; text-align: center; margin: 0 10px; border: 1px solid #ddd; position: relative; padding:30px 10px; border-radius: 2px;}
.events a.event:hover{text-decoration: none; color: #c24070}
.events .date{padding-bottom: 10px}
.events .date strong{font-size: 44px; font-family: 'Roboto', sans-serif; line-height: 35px; letter-spacing: -1px; display: inline-block; vertical-align: middle}
.events .date span{display: inline-block; width: 50px; font-size: 11px; line-height: 12px; vertical-align: middle}
.events .time{display: block; font-weight: 500; color: #212121;}
.events .text{font-size: 11px; display: block; line-height: 14px; color: #ccc; padding-top: 5px}
.events .slick-dots{bottom: -50px; margin: 0;}
.events .slick-dots li button{background: #b0b0b0}

.footer{padding: 50px 0; color: #616161; font-size: 11px; line-height: 16px; display: block;}
.footer h5{font-size: 16px; font-family: 'Roboto', sans-serif; line-height: 18px; color: #fff; font-weight: 400;; text-transform: uppercase; margin-bottom: 15px}
.footer .tags{margin: 0; padding: 0; list-style: none}
.footer .tags > li{display: inline-block; margin: 0 10px 10px 0}
.footer .tags > li > a{display: block; padding: 8px 10px; border: 1px solid #505050; border-radius: 3px; color: #bababa}
.footer .tags > li > a:hover{color: #fff; text-decoration: none}

.footer .social{list-style: none; margin: 0; padding: 0}
.footer .social > li{display: inline-block; margin: 0 10px 10px 0}
.footer .social > li > a{display: block; border: 1px solid #505050; border-radius: 3px; color: #bababa; width: 35px; height: 35px; line-height: 35px; text-align: center}
.footer .social > li > a:hover{text-decoration: none; color: #fff}
.copyright{color: #fff; background: #000; padding: 10px 0; text-align: center; font-size: 11px; text-transform: uppercase; color: #616161}


.search-btn1{display: none !important;}
.fixedtop .search-btn1{display: inline-block !important;}
.fixedtop .search-btn2{display: none !important;}

.searchBlock{background: #333; display:block; color: #959595; height: 0; overflow:hidden; line-height: 45px; transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;}
.searchBlock a{color: #959595}
.searchBlock .searchfield{padding:0 10px;}
.searchBlock .left-ico{width: 10px; margin-left: -10px; float: left;}
.searchBlock .field{width: 100%; float: left; padding-top: 3px;}
.searchBlock .field .form-control{background: none; border: none; font-size: 13px; color: #959595; opacity: 0.6; height: 40px}
.searchBlock .field .form-control:focus{box-shadow: none; -webkit-box-shadow: none;}
.searchBlock .field .form-control::-moz-placeholder {color: #959595;opacity: 1;}
.searchBlock .field .form-control:-ms-input-placeholder {color: #959595;}
.searchBlock .field .form-control::-webkit-input-placeholder {color: #959595;}
.searchBlock .field .form-control::-ms-expand {background-color: transparent; border: 0;}
.searchBlock .right-ico{float: left; width: 10px; margin-right: -10px; text-align: center}
.searchOpen .searchBlock{height: 45px}

.text-scoll{padding: 7px 0; background: #c24070; color: #fff; font-size: 11px;}
.text-scoll a{color: #fff}

/*Plugin CSS*/
.str_wrap {overflow:hidden; zoom:1; width:100%; position:relative;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	white-space:nowrap;
}
.str_move {white-space:nowrap; position:absolute; top:0; left:0; cursor:move;}
.str_move_clone {display:inline-block; display:inline; zoom:1; vertical-align:top; position:absolute; left:100%; top:0;}
.str_vertical .str_move_clone {left:0; top:100%;}
.str_down .str_move_clone {left:0; bottom:100%;}
.str_vertical .str_move,
.str_down .str_move {
	white-space:normal;
	width:100%;
}
.str_static .str_move,
.no_drag .str_move,
.noStop .str_move{
	cursor:inherit;
}
.str_wrap img {max-width:none !important;	}

.testimonial-slider{position: relative; padding-bottom: 28px}
.testimonial-block{max-width: 595px; margin: 0 auto; position: relative; padding: 12px 50px}
.testimonial-block .fa-quote-left, .testimonial-block  .fa-quote-right{position: absolute; top: 0; left: 0; font-size: 26px; color: #ddd}
.testimonial-block  .fa-quote-right{position: absolute; left: auto; right: 0; top: auto; bottom: 80px}
.testimonial-block .testimonial-text{font-family: georgia; font-style: italic; color: #aaa}
.testimonial-block .testimonial-user{padding-top: 30px; position: relative;}
.testimonial-block .testimonial-user strong{display: block;; font-size: 16px}
.testimonial-block .testimonial-user:before{position: absolute; width: 30px; height: 1px; background: #666; content: ""; display: block; left: 50%; top: 15px; margin-left: -15px;}
.testimonial-slider .slick-dots{bottom: 0}
.testimonial-slider .slick-dots li button{background: #666; opacity: 0.3}
.testimonial-slider .slick-dots li.slick-active button{opacity:1;}
.testimonial-slider .slick-arrow{display: none !important;}

#back_to_top{color: #cdcdcd; height: auto; position: fixed; bottom: 65px; right:25px; text-align: center; margin: 0; z-index: 10000; opacity:0; visibility:hidden; transition: opacity 0.3s ease-in-out; -webkit-transition: opacity 0.3s ease-in-out;}
#back_to_top > span{width: 52px; height: 52px; line-height: 52px; text-decoration: none; border: 2px solid #e8e8e8; display: block; border-radius: 50%; transition: opacity 0.3s ease-in-out; -webkit-transition: opacity 0.3s ease-in-out;}
#back_to_top > span i{font-size: 22px; color: #b0b0b0; line-height: 46px;}
#back_to_top:hover > span{background-color: #e8e8e8}
#back_to_top.on{opacity:1; visibility:visible;}

.title{padding:0 0 20px 0; line-height: 26px; border-bottom: 1px solid #d1d1d1; margin-bottom: 20px}
.title h1{margin: 0; padding: 0; font-size: 22px; line-height: 22px; font-weight: 400; font-family: 'Roboto', sans-serif}
.title .breadcrumb{margin: 0; padding: 4px 0 0 0; font-size: 11px}

.contents{padding-bottom: 15px}
.contents h4 {font-family:'Roboto', sans-serif; line-height: 22px; font-size: 16px; font-weight: 400; margin: 0 0 0 0; padding: 0 0 8px 0;}
.contents ul{}

.right-panel{padding-left: 15px}
.right-panel h4{font-family:'Roboto', sans-serif; font-size: 16px; font-weight: 400; margin: 0 0 0 0; padding: 0 0 5px 0;}
.right-panel ul{list-style: none; margin: 5px 0 10px 10px; padding: 0 0 0 10px; border-left: 1px solid #d1d1d1}
.right-panel ul li{padding: 7px 0; position: relative;}
.right-panel ul li:after{display: none; height: 100%; background-color: #c24070; left: -11px; top: 0; bottom: 0; content: ""; width: 1px; position: absolute;}
.right-panel ul li a{color: #666; display: block;}
.right-panel ul li.active a, .right-panel ul li:hover a{color: #212121; text-decoration: none;}
.right-panel ul li.active:after, .right-panel ul li:hover:after{display: block;}

.inner-page-space{padding-top: 40px; padding-bottom: 40px}

.highlight{font-family: georgia; font-style: italic; color: #c24070}

.thumb-slider{background-color: #eee9e3;}
.thumb-slider .slick-arrow{opacity: 1}
.thumb-slider .slider-for{padding: 5px 5px 2.5px 5px}
.thumb-slider .slider-nav{padding-left: 2.5px; padding-right: 2.5px}
.thumb-slider .slider-nav .slick-slide{padding: 2.5px; opacity: 0.7}
.thumb-slider .slider-nav .slick-current{background-color: #c24070; opacity: 1}
.thumb-slider img{width: 100%}

.heading-text{font-family:'Roboto', sans-serif; line-height: 22px; font-size: 16px; font-weight: 400; margin: 0 0 0 0; padding: 0 0 8px 0;}

.table > thead > tr > th{background-color: #f9f9f9 !important; color: #666 !important; font-weight: 700;}
.table a{color: #666}

.icon-md{font-size: 26px}
.valign-middle td{vertical-align: middle !important;}

.gallery{}
.gallery .image{border: 1px solid #ddd; padding-bottom: 1px; margin-bottom: 30px}
.gallery .image a{display: block; position: relative; border-bottom: 1px solid #ddd; color: #666; overflow: hidden;}
.gallery .image figure{display: block; height: 200px; background-position: center; background-repeat: no-repeat; background-size: cover;
	transition: transform 0.3s ease;
	-webkit-transition: transform 0.3s ease;
	-ms-transition: transform 0.3s ease;
}
.gallery .image figcaption{display: block; padding: 5px; max-height: 60px; font-size: 12px; text-align: center; background-color: rgba(255, 255, 255, 0.95); position: absolute; bottom: 0; left: 0; right: 0; border-top: 1px solid rgba(0, 0, 0, 0.08);}
.gallery .image a:hover figure{transform: scale(1.2); -webkit-transform: scale(1.2); -ms-transform: scale(1.2);}

.carousel-control .fa-angle-left, .carousel-control .fa-angle-right{
    width: 30px;
    height: 60px;
    font-size: 60px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 20px;
}
.carousel-control .fa-angle-right{left: auto; right: 20px}
.img-block{width: 100% !important}

.calendar-list{margin-left: -15px; margin-right: -15px;}
.calendar-list li{margin: 15px; padding: 0;}
.calendar-list .calendar-block{background: #f9f9f9; display: block; height: 120px; width: 90px; border: 1px solid #DDD; position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.calendar-list .calendar-block:hover, .calendar-list .calendar-block:focus{text-decoration: none;}
.calendar-list .calendar-block span{white-space: nowrap}
.calendar-list .calendar-block span.month{display: block; text-align: center; line-height: 60px; margin-top: 5px; font-weight: 600; color: #212121; font-size: 14px;}
.calendar-list .calendar-block span.year{display: block; text-align: center; line-height: 30px; background-color: #313e60; color: #fff;
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
}
.calendar-list .calendar-block:not(.disabled):hover span.year{background-color: #c24070;}
.calendar-list .calendar-block .pin:after{content: ""; position: absolute; left: 2.5px; bottom: 6px; display: block; height: 17px; width: 5px; background: #CCC;
  border-radius: 8px;
  -webkit-border-radius: 8px;
}
.calendar-list .calendar-block .pin{width: 10px; height: 10px; position: absolute; left: 18px; top: 4px; background-color: #000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 1px 0px 0 rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 1px 0px 0 rgba(255, 255, 255, 0.9);
}

.calendar-list .calendar-block .pin.pull-right{left: auto; right: 18px;}

.calendar-list .calendar-block.disabled{opacity: 0.2; cursor: default;}

.page404{background: #eee9e3; position: relative;}
.page404 .content404{max-width: 600px; padding: 20px; text-align: center; display: flex; flex-direction: column; align-self: center; justify-content: center; flex: 1;}
.page404 .content404 h1{margin: -20px 0 5px 0; padding: 0; font-size: 200px; line-height: 200px; color: #313e60; font-weight: 600; letter-spacing: -5px;}
.page404 .content404 h1 span{color: #c24070;}
.page404 .content404 h4{font-weight: 400; margin: 0; padding: 0 0 10px 0;}

.border-mid{position: relative;}
.border-mid > *{position: relative; z-index: 10;}
.border-mid:after{content: ""; display: block; height: 1px; background: rgba(0, 0, 0, 0.3); position: absolute; top: 50%; left: 0; right: 0; bottom: 0;}
.border-mid .btn{border:none; border-left: 30px solid #eee9e3; border-right: 30px solid #eee9e3;}

.text-scoll .btn-xs{margin-top: -5px; margin-bottom: -5px; padding-top: 5px; padding-bottom: 5px;}

a.media{display: block}


